p {
    color: red;
    background-color: green;
    font-size: 12px;
}
h1 {border: 10px solid rgb(255, 173, 173);}
h2 {border: 15px solid rgb(98, 0, 200);}
h3 {border: 20px solid #8e626f;}
h4 {border: 25px solid rgb(255, 225, 0);}
h5 {border: 23px solid rgb(19, 19, 156);}
h6 {border: 25px solid rgb(99, 153, 99);}

body {
    background-image: linear-gradient(to bottom, #ff0000, #00ff00);
  }
  